*{
   background-color: rgb(247, 248, 227);
}
button{
   width: 5%;
    text-align: center ;
   padding: /*this is top and bottom*/10px /*this is left and right*/ ;
   background-color:beige;
   color: black;
   margin: 10px;
border-radius: 30px;
width: 70px;
}
p{
   text-transform: capitalize;
   text-align: center;
   line-height: 25px;  
   font-family:"cursive;"
}
a{
   text-decoration: none;
   font-weight:bold;
   color: rgb(0, 0, 0);
   
}
table{
   text-transform: capitalize;
   text-align: center;
}
