button{
   width: 5%;
    text-align: center center;
   padding: /*this is top and bottom*/10px /*this is left and right*/ ;
   background-color:beige;
   color: black;
   margin: 10px;
border-style: calc();
border-radius: 30px;
}